{% extends "base/base.html" %}
{% comment %}
encoding: utf-8
vim: shiftwidth=2 expandtab
{% endcomment %}
{% block content %}

<p>
  From this page you can create and  download certificates simply by
  pressing the Order button. You are also able to remove current
  certificates.
</p> 

{% if data %}
  {% for org, networks in data %}
    <h2>{{ org.name }}: </h2>
    {% for network, certificates in networks %}
      <table>
        <tr>
          <th>{{ network.name }}</th>
          <th>
            <form method="post" action="{% url order_page org_id=org.id network_id=network.id %}">
              <p class="submit"><input type="submit" value="Order" /></p>
            </form>
          </th>
          <th></th>
        </tr>
        {% for cert in certificates %}
          <tr>
            <td>{{ cert.common_name }}</td>
            <td>
              {% if not cert.is_revoked %}
                <form method="post" action="{% url revoke_page cert_id=cert.id%}">
                  <input type="hidden" name="cert_id" value="{{cert.id}}" />
                  <p class="submit"><input type="submit" value="Revoke" /></p>
                </form>
              {% else %}
                <p>
                  Revoked by 
                  {% ifequal cert.revoked_by client %}
                    you
                  {% else %}
                    {{ cert.revoked_by.user.username }}
                  {% endifequal %}  
                  at {{ cert.revoked|date }}
                </p>
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </table>
    {% endfor %}
  {% endfor %}
{% else %}
  <p>No organisations at the moment.</p>
{% endif %}
{% endblock content %}

