{% extends "base/base.html" %}
{% load ovpn_tags %}
{% comment %}
encoding: utf-8
vim: shiftwidth=2 expandtab
{% endcomment %}
{% block content %}
<h1>{{ server.name }}</h1>

{% trivial_form form %}

<h2>Networks</h2>
<p>The following networks can currently be accessed through this server:</p>

<ul>
  {% for network in server.network_set.all %}
    <li>
      {% if client.is_superuser %}
        <form class="inline_form" action="{% url remove_network_from_server_page network_id=network.id server_id=server.id %}" method="post">
          <input type="submit" value="Remove" />
        </form>
        <a href="{% url manage_network_page network_id=network.id %}">{{ network.name }}</a>
      {% else %}
        {{ network.name }}
      {% endif %}
    </li>
  {% endfor %}
  {% if client.is_superuser %}
    <li class="add_remove">
      <a href="{% url add_network_to_server_page server_id=server.id %}">Add a network...</a>
    </li>
  {% endif %}
</ul>

<h2>OpenVPN configuration</h2>

<p>Here you can view and <a href="{% url download_server_config_page server_id=server.id %}">download the server configuration file</a>.</p>

<pre>{{server.server_config}}</pre>

{% endblock content %}

