{% extends "base/base.html" %}
{% comment %}
encoding: utf-8
vim: shiftwidth=2 expandtab
{% endcomment %}
{% block content %}

<h1>Administrative actions</h1>
<p>You can perform the following administrative actions:</p>

<ul>
  <li><a href="#networks">Manage your organizations and networks (below)</a></li>
  {% if not external_auth %}
    <li><a href="{% url create_client_page %}">Create new users...</a></li>
  {% endif %}
  
</ul>

{% if client.is_superuser %}
  <h1>Superuser actions</h1>
  <p>You can perform the following superuser actions:</p>
  
  <ul>
    <li><a href="{% url create_org_page %}">Create organizations...</a></li>
    {# <li><a href="{% url manage_org_map_page %}">Configure organization mapping...</a></li> #}
    <li><a href="{% url create_server_page %}">Create servers...</a></li>
    <li><a href="{% url create_network_page %}">Create networks...</a></li>
  </ul>
{% endif %}

<h1 id="networks">Networks</h1>
<p>From this page you can revoke certificates in the organizations you manage and proceed to editing the details of the organizations.</p>
{% if data %}
  {% for org, networks in data %}
    <h2>
      {{ org.name }}
      (<a href="{% url manage_org_page org_id=org.id %}">manage</a>)
    </h2>
    {% if networks %}
      {% for network, certificates in networks %}
        <table>
          <tr>
            <th>{{ network.name }}</th>
            <th></th>
            <th>
              <a href="{% url manage_network_page org_id=org.id network_id=network.id %}">manage</a>
            </th>
          </tr>
          {% for cert in certificates %}
            <tr>
              <td>{{ cert.common_name }}</td>
              <td>{{ cert.owner.user.username }}</td>
              <td>
                {% if not cert.is_revoked %}
                  <form method="post" action="{% url revoke_page cert_id=cert.id%}">
                    <input type="hidden" name="cert_id" value="{{cert.id}}" />
                    <p class="submit"><input type="submit" value="Revoke" /></p>
                  </form>
                {% else %}
                  <p>Revoked by {{cert.revoked_by.user.username}} at {{ cert.revoked|date }}</p>
                {% endif %}
              </td>
            </tr>
          {% endfor %}
        </table>
      {% endfor %}
    {% else %}
      <p>No networks defined for this organization.</p>
    {% endif %}
  {% endfor %}
{% else %}
  <p>No organisations at the moment.</p>
{% endif %}
{% endblock %}

