{% extends "base/base.html" %}
{% load ovpn_tags %}
{% comment %}
encoding: utf-8
vim: shiftwidth=2 expandtab
{% endcomment %}
{% block content %}
<h1>{{ admin_group.name }}</h1>

<h2>Members</h2>

<p>The following users are members of this admin group:</p>

<ul>
  {% for user in admin_group.group.user_set.all %}
    <li>
      {% if not external_auth %}
        <form  class="inline_form" action="{% remove_client_link user admin_group %}" method=post>
          <input type="submit" value="Remove" />
        </form>
        {% manage_client_link user %}
      {% else %}
        {% format_username user %}
      {% endif %}
    </li>
  {% endfor %}
  <li class="add_remove">
    <a href="{% url add_client_to_admin_group_page admin_group_id=admin_group.id %}">Add members...</a>
  </li>
</ul>

<h2>Administrator access</h2>

{% if orgs %}
  <p>This admin group manages the following organizations:</p>
{% else %}
  <p>This admin group does not manage any organizations at the moment. Adminship may be granted at the organizations' pages.</p>
{% endif %}

<ul>
  {% for org, may_manage in orgs %}
    {% if may_manage %}
      <form class="inline_form" action="{% url remove_admin_group_from_org org_id=org.id admin_group_id=admin_group.id %}">
        <input type="submit" value="Remove" />
      </form>
    {% endif %}
    {% manage_link org client %}
  {% endfor %}
</ul>

{% endblock content %}

