{% extends "base/base.html" %}
{% load ovpn_tags %}
{% comment %}
encoding: utf-8
vim: shiftwidth=2 expandtab
{% endcomment %}
{% block content %}

{% with target.user.full_name as full_name %}
  {% if full_name %}
    <h1>{{full_name}} ({{ target.user.username }})</h1>
  {% else %}
    <h1>{{ target.user.username }}</h1>
  {% endif %}
{% endwith %}

{% trivial_form form %}

<h2>Organizations, networks and certificates</h2>

{% if orgs %}
  <p>This user belongs to the following organizations:</p>
{% else %}
  <p>This user does not belong to any organizations at the moment.</p>
{% endif %}
<ul>
  {% for org, may_manage, networks in orgs %}
    <li>
      {% if may_manage %}
        {% if not external_auth %}
          <form class="inline_form" action="{% remove_client_link target org %}" method="post">
            <input type="submit" value="Remove" />
          </form>
        {% endif %}
        <a href="{% url manage_org_page org_id=org.id %}">{{ org.name }}</a>
        <ul>
          {% for network, certificates in networks %}
            <li>
              {% manage_link network client %}
              <ul>
                {% for certificate in certificates %}
                  <li>
                    <form class="inline_form" action="{% url revoke_page cert_id=certificate.id %}" method="post">
                      <input type="submit" value="Revoke" />
                    </form>
                    {{ certificate.common_name }}
                  </li>
                {% endfor %}
              </ul>
            </li>
          {% endfor %}
        </ul>
      {% else %}
        {{ org.name }}
      {% endif %}
    </li>
  {% endfor %}
  {% if not external_auth %}
    <li class="add_remove">
      <a href="{% url add_org_to_client_page client_id=target.id %}">Add organizations...</a>
    </li>
  {% endif %}
</ul>

<h2>Administrator groups</h2>
{% if admin_groups %}
  <p>This user belongs to the following administrator groups:</p>
{% else %}
  <p>This user does not belong to any administrator groups at the moment.</p>
{% endif %}

<ul>
  {% for admin_group, may_manage in admin_groups %}
    <li>
      {% if client.is_superuser and not external_auth %}
        <form class="inline_form" action="{% url remove_client_from_admin_group_page admin_group_id=admin_group.id client_id=target.id %}" method="post">
          <input type="submit" value="Remove" />
        </form>
      {% endif %}
      {% manage_link admin_group client %}
    </li>
  {% endfor %}
  {% if client.is_superuser and not external_auth %}
    <li class="add_remove">
      <a href="{% url add_admin_group_to_client_page client_id=target.id %}">Add admin group...</a>
    </li>
  {% endif %}
</ul>

{% endblock content %}
