{% extends "base/base.html" %}
{% load ovpn_tags %}
{% comment %}
encoding: utf-8
vim: shiftwidth=2 expandtab
{% endcomment %}
{% block content %}
<h1>{{ org.name }}</h1>

<h2>Administrators</h2>
<p>
  This section lists the users that have administrative capabilities in
  this organization.
<p>
{% if external_auth %}
  <p>
    Note that the administrative capabilities of a user are updated from
    Shibboleth when he logs in. They cannot be managed from this page while
    the service is linked into an external authentication service.
  </p>
{% endif %}

<ul>
  {% for group in org.admin_group_set.all %}
    <li>
      {% if client.is_superuser %}
        <form class="inline_form" action="{% url remove_admin_group_from_org_page org_id=org.id group_id=group.id %}" method="post">
          <input type="submit" value="Remove" />
        </form>
      {% endif %}
      {{ group.name }}
      <ul>
        {% for admin in group.user_set.all %}
          <li>
            {% if client.is_superuser and not external_auth %}
              <form class="inline_form" action="{% remove_client_link user group %}" action="post">
                <input type="submit" value="Remove" />
              </form>
            {% endif %}
            <a href="{% manage_client_link user %}">{{ admin.username }}</a>
          </li>
        {% endfor %}
        {% if client.is_superuser and not external_auth %}
          <li class="group_add_client"><a href="{% url add_client_to_group_page group_id=group.id %}">Add administrators to this group...</a></li>
        {% endif %}
      </ul>
    </li>
  {% endfor %}
  {% if client.is_superuser %}
    <li class="group_add_client"><a href="{% url add_admin_group_to_org_page org_id=org.id %}">Add administrator groups to this organization...</a></li>
  {% endif %}
</ul>

<h2>Clients</h2>
<p>This section lists the users that are members of this organization.</p>
{% if external_auth %}
  <p>
    Note that the membership of a user is updated from Shibboleth each time
    he logs in. Organization membership cannot be managed from this view while
    the service is linked into an external authentication service.
  </p>
{% endif %}

<ul>
  {% for user in org.group.user_set.all %}
    <li>
      {% if not external_auth %}
        <form class="inline_form" action="{% remove_client_link user org %}" action="post">
          <input type="submit" value="Remove" />
        </form>
      {% endif %}
      <a href="{% manage_client_link user %}">{{ user.username }}</a>
    </li>
  {% endfor %}
  {% if not external_auth %}
    <li class="group_add_client"><a href="{% url add_client_to_org_page org_id=org.id %}">Add clients to this organization...</a></li>
  {% endif %}
</ul>

{% endblock content %}

